<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664803703784-30dvr7845bse6glcga9mci9e6obv6rcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664803703784-30dvr7845bse6glcga9mci9e6obv6rcn</string>
	<key>API_KEY</key>
	<string>AIzaSyCdVeMUKq5euvyoFB-tAIUrJFjAvYzx4RQ</string>
	<key>GCM_SENDER_ID</key>
	<string>664803703784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pixelInsuranceV2</string>
	<key>PROJECT_ID</key>
	<string>pixel-insurance</string>
	<key>STORAGE_BUCKET</key>
	<string>pixel-insurance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664803703784:ios:ecd631303c3b69ef55c25d</string>
</dict>
</plist>